/* Brennan Wilkes */

.DynamicBackground{
	background-size: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	will-change: opacity;

	background-color: #00000080;
	background-blend-mode: overlay;
}
