main{
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
}

.login-form{
	width: 100%;
	max-width: 33vw;
	min-width: min(50vh,96vw);
	padding: 4vmin 4vmin 2vmin 4vmin;
	background-color: #BBBBBBB0;
	border-radius: 2vmin;
	position: relative;
}

.login-form label{
	width: 100%;
}

.login-form label:first-of-type > input {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.login-form label:first-of-type ~ label > input{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.login-form .form-control-secondary:focus {
	border-color: #6c757d;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.175), 0 0 16px rgba(108,117,125, 0.6);
}
