main{
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
}

form{
	width: 100%;
	max-width: 40vw;
	padding: 4vmin 4vmin 2vmin 4vmin;
	background-color: #BBB;
	border-radius: 2vmin;
}

label{
	width: 100%;
}

label:first-of-type > input {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
form input[type="date"] {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
