
#dashboard{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:100vw;
	min-height: 100vh;
}

#dashboard > .row{
	width: 100%;
}

#dashboard > .row:first-of-type{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 65vh;
}
#dashboard > .row:first-of-type > div{
	min-height: 60vh;
}

#dashboard > .row:first-of-type > div:last-of-type > div{
	min-height: 30vh;
}

#dashboard > .row:last-of-type{
	min-height: 30vh;
}
