#dashboard{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:100vw;
	min-height: 100vh;
}

#dashboard > .row{
	width: 100%;
}

#dashboard > .row:first-of-type{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 65vh;
}

#dashboard > .row:first-of-type > div{
	height: 60vh;
}

#dashboard > .row:first-of-type > div:first-of-type{
	overflow-y: scroll;
}

#transactions{
	width: 100%;
}

.popularContainer{
	height: 30vh;
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.popularContainer > div {
	width: 100%;
	display: flex;
}

#dashboard > .row:last-of-type{
	min-height: 28vh;
}

#transactions, #inventory, #popularIng, #popularDrinks{
	background-color: grey;
}

#inventory{
	width: 100%;
	height: 100%;
}

.popularItem{
	width: 25vh;
	min-width: 25vh;
	height: 25vh;
	min-height: 25vh;
	margin: 10px;
	border: 2px solid black;
	border-radius: 20px;
	padding: 0;
}
