@media (max-width: 768px) {
	.show .btn-within-collapsable {
		margin-bottom: 1rem;
	}
	#nav-wrapper form{
		padding-left: 4vw;
		padding-right: 4vw;
	}
}
.nav-brand-item{
	margin-right: -0.5rem;
}

.AdvancedSearch-btn{
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-inline{
	display: flex;
}

.multiInput > div{
	width: 100%;
	display: flex;
	flex-direction: row;
}

#nav-wrapper{
	max-height: 100vh;
	overflow-y: auto;
	max-width: 100vw;
	overflow-x: hidden;
}
