@media (max-width: 768px) {
	.show .btn-within-collapsable {
		margin-bottom: 1rem;
	}
}
.nav-brand-item{
	margin-right: -0.5rem;
}

.AdvancedSearch-btn{
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-inline{
	display: flex;
}
