main{
	width: auto;
	overflow-x: hidden;
}

#menu{
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right: 0;
}

.container-fluid .row{
	margin-left: 0;
	margin-right: 0;
}

.my-5per{
	margin-top: 7.5%;
	margin-bottom: 7.5%;
}

.my-10per{
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

#menu .iconItem{
	border: 2px solid #343a40;
}

#menu .iconItem{
	height: 20vh;
	min-height: 20vh;
}

#menu .iconItem, #menu .menuIconWrapper > .iconWrapper > div{
	width: 20vh;
	min-width: 20vh;
}

.menuIconWrapper{
	padding: 24px auto;
}

#menu ~ .detailedView{
	top: 3.5%;
}
