.drinkRecipe{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	padding:5%;

	background-size: contain;
	overflow: hidden;

}

.drinkRecipe-wrapper{
	border: 4px solid grey;
	background-color: #FFFFFFC0;

	position: relative;
	width: 80%;

	border-radius: 2vmin;

	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;

	overflow: hidden;
}

.drinkRecipe-wrapper:hover{
	transform: scale(1.15);
	cursor: pointer;
}

.drinkRecipe-wrapper:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

main{
	width: auto;
}

#menu{
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right: 0;
}

.container-fluid .row{
	margin-left: 0;
	margin-right: 0;
}

.my-5per{
	margin-top: 7.5%;
	margin-bottom: 7.5%;
}

.my-10per{
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}
